<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Add Product button -->
  <ion-button (click)="handleAddProductControlClick()">Add Product</ion-button>

  <!-- Display products in cards -->
  <ng-container *ngIf="!isFormSubmitted">
    <ion-card *ngFor="let product of products">
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>{{ product.category }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Price: {{ product.price }}
      </ion-card-content>

      <ion-button (click)="handleEditProductControlClick(product)">Edit</ion-button>
    </ion-card>

  </ng-container>

</ion-content>