<ion-content [fullscreen]="true" style="overflow: hidden;">
  <ion-header collapse="condense">
    <!-- Remove the ion-toolbar and ion-title here -->
  </ion-header>

  <div id="container" style="background-image: url('assets/top-view-online-shopping-concept-with-credit-card-smart-phone-computer-isolated-office-yellow-table-background_315337-3585.avif');">
    <ion-button (click)="getStarted()">Products</ion-button>
    <ion-button (click)="post()">Post</ion-button>
    <ion-button (click)="comment()">Comment</ion-button>
  </div>
</ion-content>