<ion-content [fullscreen]="true" style="overflow: hidden;">
  <ion-header collapse="condense">
    <!-- Remove the ion-toolbar and ion-title here -->
  </ion-header>

  <div id="container">
    <ion-img src="https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=826&t=st=1702963837~exp=1702964437~hmac=2ee10f174439c28ea3397f0f3d923146207e7aef1fb917b7de13e56b6798a478"
      alt="Black Friday Elements Assortment"></ion-img>
    <ion-button (click)="getStarted()">Get Started</ion-button>
  </div>
</ion-content>