/* posts.component.scss */

ion-card {
  margin: 10px; /* Adjust the margin as needed */
}

ion-card-title,
ion-card-subtitle {
  font-weight: bold;
}

ion-card-content {
  margin-top: 10px; /* Adjust the margin as needed */
}
