<!-- product-detail-modal.component.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Product Details
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Product Detail Form -->
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="product.name" placeholder="Enter product name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Description</ion-label>
    <ion-textarea [(ngModel)]="product.description" placeholder="Enter product description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Price</ion-label>
    <ion-input type="number" [(ngModel)]="product.price" placeholder="Enter product price"></ion-input>
  </ion-item>

  <!-- Add Product button -->
  <ion-button expand="full" *ngIf="!isEditMode()" (click)="addOrUpdateProduct()">Add Product</ion-button>

  <!-- Update Product button -->
  <ion-button expand="full" *ngIf="isEditMode()" (click)="addOrUpdateProduct()">Update Product</ion-button>
</ion-content>